@use '../../globals' as *;

footer {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  position: fixed;
  width: 100%;
  small a {
    color: $black400;
    text-decoration: none;
    &:hover {
      color: $darkblue400;
    }

    &:visited,
    &:active {
      color: $black400;
    }
  }
}