@use '../../globals' as *;

footer {
  background-color: $blue400;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
  p {
    color: $white;
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $darkblue700;
      }
    }
  }
}