@use '../../globals' as *;

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  @include flex-box('flex-end', 'flex-start');

  .navbar {
    &__toggle {
      border-radius: 50%;
      transform: translateX(1rem);
      aspect-ratio: 1;
      z-index: 3;
      
      i {
        background-color: $blue400;
        border-radius: 50%;
        color: $pureWhite;
        padding: 1.2rem;
        margin-top: 2rem;

        &::after {
          right: calc(50%);
          top: calc(50% - 4px)
        }
        &::before {
          right: calc(50% - 6px);
          top: calc(50% - 4px)
        }
      }
    } 
    &__container {
      @include flex-box('flex-end', 'center');
      background-color: $pureWhite;
      padding: 1rem;
      position: relative;
      height: 100vh;

      @include breakpoint($tablet) {
        width: calc((100vw - $tabletContent) / 2);
      }
      @include breakpoint($laptop) {
        width: calc((100vw - $laptopContent) / 2);
      }
      @include breakpoint($wide) {
        width: calc((100vw - $wideContent) / 2);
      }
    }
    &__items {
      width: max-content;
      @include breakpoint($laptop) {
      }

      li {
        list-style: none;
        padding: 1rem;
        a {
          color: $black200;
          text-decoration: none;
        }
      }
    }
  }
}
