@use '../../globals' as *;
main {
  .section__container {
    // height: 800vh; Needs review: Should be revalidate according to the animation needs
    .section {
      &__home,
      &__experience,
      &__projects {
        height: 100vh;
        margin-bottom: 1rem;
        width: 100vw;
      }
      &__about,
      &__contact {
        height: 70vh;
        margin-bottom: 1rem;
        width: 100vw;
      }
    }
  }
}
