@use '../../globals' as *;
main {
  .section__container {
    .section {
      &__home,
      &__experience,
      &__projects {
        height: 100vh;
        width: 98.9vw;
      }
      &__about{
        height: 70vh;
        width: 98.9vw;
      }
      &__contact {
        height: 40vh;
        width: 98.9vw;
      }
    }
  }
}
