@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap");
.section__home {
  align-content: center;
  background: linear-gradient(90deg, hsl(0deg, 0%, 30%) 35%, hsl(0deg, 0%, 90%) 35%);
  display: grid;
  grid-template-rows: 10rem auto;
  isolation: isolate;
  position: relative;
}
.section__home > * {
  z-index: 1;
}
.section__home .home__title {
  align-items: flex-end;
  display: flex;
}
@media (min-width: 768px) {
  .section__home .home__title {
    padding-left: calc((100vw - 764px) / 2);
  }
}
@media (min-width: 1024px) {
  .section__home .home__title {
    padding-left: calc((100vw - 998px) / 2);
  }
}
@media (min-width: 1440px) {
  .section__home .home__title {
    padding-left: calc((100vw - 1200px) / 2);
  }
}
.section__home .home__title .title {
  color: hsl(0deg, 0%, 100%);
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  justify-self: flex-start;
  letter-spacing: 1.5px;
  padding-bottom: 2.5rem;
  position: relative;
}
.section__home .home__title .title::after {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1px;
  bottom: 2rem;
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  width: 200px;
}
.section__home .home__content {
  display: flex;
  justify-content: space-between;
  justify-self: center;
}
@media (min-width: 768px) {
  .section__home .home__content {
    width: 764px;
  }
}
@media (min-width: 1024px) {
  .section__home .home__content {
    width: 998px;
  }
}
@media (min-width: 1440px) {
  .section__home .home__content {
    width: 1200px;
  }
}
.section__home .home__content .content__image {
  overflow: hidden;
  position: relative;
}
.section__home .home__content .content__image > img {
  aspect-ratio: 1/1.3;
  width: 30rem;
}
.section__home .home__content .content__wrapper {
  overflow: hidden;
}
.section__home .home__content .content__text {
  overflow: hidden;
}
@media (min-width: 1440px) {
  .section__home .home__content .content__text {
    width: 30rem;
  }
  .section__home .home__content .content__text h1 {
    margin-bottom: 0.8rem;
  }
  .section__home .home__content .content__text p {
    margin-bottom: 0.5rem;
  }
}

.section__about {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section__about .about__content {
  display: grid;
}
@media (min-width: 768px) {
  .section__about .about__content {
    width: 764px;
  }
}
@media (min-width: 1024px) {
  .section__about .about__content {
    width: 998px;
  }
}
@media (min-width: 1440px) {
  .section__about .about__content {
    grid-template-columns: 15rem 1fr;
    width: 1200px;
  }
}
.section__about .about__content-title {
  font-size: 5rem;
}

.section__experience {
  background: linear-gradient(90deg, hsl(0deg, 0%, 90%) 62%, hsl(0deg, 0%, 30%) 62%);
  isolation: isolate;
  position: relative;
}
@media (min-width: 768px) {
  .section__experience {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 10%) repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (min-width: 1024px) {
  .section__experience {
    gap: 15px;
    grid-template-columns: repeat(6, 10%) repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (min-width: 1440px) {
  .section__experience {
    gap: 15px;
    grid-template-columns: repeat(6, 10%) repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
.section__experience .experience__title {
  grid-column: 8/8;
  grid-row: 3/spam;
}
@media (min-width: 1440px) {
  .section__experience .experience__title--title {
    color: hsl(0deg, 0%, 100%);
    font-size: 2rem;
    position: relative;
    rotate: 90deg;
  }
  .section__experience .experience__title--title .title-decoration__left {
    background-color: hsl(0deg, 0%, 100%);
    display: initial;
    height: 3px;
    left: 100%;
    margin-left: 1rem;
    position: absolute;
    top: calc(50% - 1.5px);
    width: 412px;
  }
  .section__experience .experience__title--title .title-decoration__right {
    background-color: hsl(0deg, 0%, 100%);
    display: initial;
    height: 3px;
    margin-right: 1rem;
    position: absolute;
    right: 100%;
    top: calc(50% - 1.5px);
    width: 264px;
  }
}
.section__experience .experience__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 1440px) {
  .section__experience .experience__content {
    grid-column: 2/9;
    grid-row: 2/-2;
  }
}

.section__projects {
  background-color: hsl(0deg, 0%, 90%);
  color: hsl(0deg, 0%, 30%);
  align-items: center;
  display: flex;
  justify-content: center;
}

header {
  isolation: isolate;
  position: fixed;
  width: 100%;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
header .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 1440px) {
  header .navbar {
    width: 1200px;
  }
}
header .navbar__avatar {
  display: none;
}
header .navbar__contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  position: relative;
}
header .navbar__contact--icon {
  padding: 0.5rem;
}
header .navbar__contact--icon img {
  aspect-ratio: 1;
  height: 2.5rem;
}
header .navbar__contact--icon.mail {
  pointer-events: none;
}
header .navbar__contact::before, header .navbar__contact::after {
  background-color: hsl(0deg, 0%, 100%);
  bottom: 47%;
  position: absolute;
}
@media (min-width: 1440px) {
  header .navbar__contact::before {
    content: "";
    border-radius: 4px;
    position: absolute;
    width: 20rem;
    height: 2px;
    left: -20rem;
  }
}
@media (min-width: 1440px) {
  header .navbar__contact::after {
    content: "";
    border-radius: 4px;
    position: absolute;
    width: 11rem;
    height: 2px;
    right: -11rem;
  }
}
header .navbar__list {
  display: none;
}
header .navbar__list li {
  list-style: none;
  padding: 1rem;
}
header .navbar__list li a {
  color: hsl(0deg, 0%, 20%);
  text-decoration: none;
}

main {
  overflow: hidden;
}
main .section__container section {
  height: 100vh;
  width: 100vw;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
}
footer small a {
  color: hsl(0deg, 0%, 50%);
  text-decoration: none;
}
footer small a:hover {
  color: hsl(238deg, 85%, 40%);
}
footer small a:visited, footer small a:active {
  color: hsl(0deg, 0%, 50%);
}

.experience__content--items {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}
@media (min-width: 1440px) {
  .experience__content--items {
    justify-content: flex-start;
  }
}
.experience__content--items .description {
  box-shadow: -5px 15px 15px -10px hsl(0deg, 0%, 75%);
  padding: 1rem;
  text-align: end;
}
@media (min-width: 1440px) {
  .experience__content--items .description {
    max-width: 50rem;
  }
}
.experience__content--items .description__title {
  color: hsl(0deg, 0%, 20%);
}
.experience__content--items .description__period {
  color: hsl(0deg, 0%, 50%);
  transform: scale(0.3);
}
.experience__content--items .description__skills ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.experience__content--items .description__skills ul li {
  margin: 0.5rem;
  transition: transform 200ms ease;
}
.experience__content--items .description__skills ul li i {
  font-size: 1.5rem;
}
.experience__content--items .description__skills ul li:hover {
  transform: scale(1.5);
}
.experience__content--items .card__container {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  width: 100%;
}
.experience__content--items .card__container .card {
  background-color: hsl(0deg, 0%, 30%);
  justify-self: start;
  width: max-content;
}
.experience__content--items .card__container .card p {
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 90%);
}
.experience__content--items .card__container .bullet {
  aspect-ratio: 1;
  background-color: hsl(192deg, 100%, 50%);
  border-radius: 50%;
  border: 0.5rem solid hsl(0deg, 0%, 30%);
  width: 3rem;
}
@media (min-width: 1440px) {
  .experience__content--items .card__container .bullet {
    justify-self: start;
    margin-left: 1rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 90%);
  color: hsl(0deg, 0%, 20%);
  font-size: 16px;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
