@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap");
.section__home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (min-width: 992px) {
  .section__home {
    background: linear-gradient(90deg, hsl(0deg, 0%, 30%) 36%, hsl(0deg, 0%, 98%) 36%);
  }
}
@media (min-width: 1349px) {
  .section__home {
    background: linear-gradient(90deg, hsl(0deg, 0%, 30%) 35%, hsl(0deg, 0%, 98%) 35%);
  }
}
.section__home .home__title {
  display: flex;
}
@media (min-width: 768px) {
  .section__home .home__title {
    width: 648px;
  }
}
@media (min-width: 992px) {
  .section__home .home__title {
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .section__home .home__title {
    width: 1170px;
  }
}
.section__home .home__title-title {
  color: hsl(0deg, 0%, 100%);
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  justify-self: flex-start;
  letter-spacing: 1.5px;
  padding-bottom: 2.5rem;
  position: relative;
}
.section__home .home__title-title::after {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1px;
  bottom: 2rem;
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  width: 200px;
}
.section__home .home__content {
  display: grid;
}
@media (min-width: 992px) {
  .section__home .home__content {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    grid-template-rows: repeat(6, 55px);
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .section__home .home__content {
    grid-template-rows: repeat(12, 35px);
    width: 1170px;
  }
}
.section__home .home__content-image {
  background-image: url("../../../assets/img/home/bg-home-portrait-pexels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 992px) {
  .section__home .home__content-image {
    grid-column: 1/6;
    grid-row: 1/7;
  }
}
@media (min-width: 1349px) {
  .section__home .home__content-image {
    grid-column: 1/6;
    grid-row: 1/13;
  }
}
.section__home .home__content-wrapper {
  grid-column: -1/7;
  grid-row: 1/spam;
}
@media (min-width: 992px) {
  .section__home .home__content-wrapper .wrapper-text h1 {
    margin-bottom: 0.8rem;
  }
}
@media (min-width: 992px) {
  .section__home .home__content-wrapper .wrapper-text p {
    margin-bottom: 0.5rem;
  }
}
.section__home .home__content-wrapper .wrapper-stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}
@media (min-width: 992px) {
  .section__home .home__content-wrapper .wrapper-stack p {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1349px) {
  .section__home .home__content-wrapper .wrapper-stack p {
    margin-bottom: 1.2rem;
  }
}

.section__about {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section__about .about__content {
  display: grid;
  justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .section__about .about__content {
    width: 648px;
  }
}
@media (min-width: 992px) {
  .section__about .about__content {
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .section__about .about__content {
    column-gap: 1rem;
    overflow: initial;
    width: 1170px;
  }
}
.section__about .about__content-background {
  background-image: url("../../../assets/img/about/bg-negative-space.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
}
@media (min-width: 992px) {
  .section__about .about__content-background {
    left: -2rem;
    padding: 10rem;
    top: -2rem;
    width: 100%;
  }
}
@media (min-width: 1349px) {
  .section__about .about__content-background {
    left: 0rem;
  }
}
.section__about .about__content-title {
  align-items: flex-start;
  display: flex;
  grid-row: 1/spam;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .section__about .about__content-title {
    font-size: 3rem;
    grid-column: 1/6;
    height: 11rem;
    padding: 1rem 0 1rem 1rem;
  }
}
@media (min-width: 1349px) {
  .section__about .about__content-title {
    height: 11rem;
    padding: 1rem 0 1rem 1rem;
  }
}
.section__about .about__content-title h3 {
  color: hsl(0deg, 0%, 98%);
}
.section__about .about__content-text {
  background-color: hsl(0deg, 0%, 98%);
  grid-row: 1/spam;
}
@media (min-width: 992px) {
  .section__about .about__content-text {
    grid-column: 6/spam;
  }
}
.section__about .about__content-text p {
  margin: 0 0.3rem;
  padding: 0.5rem;
}

.section__contact {
  align-items: center;
  background-image: url("../../../assets/img/contact/contact-pexels-nikolaos-dimou.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .section__contact {
    background-position: 0 -12rem;
  }
}
@media (min-width: 1349px) {
  .section__contact {
    background-position: 0 -15rem;
  }
}
.section__contact .contact__content {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .section__contact .contact__content {
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .section__contact .contact__content {
    width: 1170px;
  }
}
.section__contact .contact__title {
  color: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 992px) {
  .section__contact .contact__title {
    margin-right: 5rem;
  }
}
.section__contact .contact__title::before {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 7rem;
  height: 2px;
  background-color: hsl(0deg, 0%, 98%);
  bottom: 1rem;
  right: -70%;
  rotate: 90deg;
}
.section__contact .contact__title h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: end;
}
.section__contact .contact__title small {
  font-weight: bold;
  text-align: end;
}
.section__contact .contact__links {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items: center;
  list-style: none;
  width: 100%;
}
@media (min-width: 1349px) {
  .section__contact .contact__links {
    grid-column: 2/3;
    padding: 4rem 1rem;
  }
}
.section__contact .contact__links li a {
  align-items: center;
  color: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0;
  text-decoration: none;
}
.section__contact .contact__links li:last-of-type .contact__icon {
  font-size: 1.2rem;
}
.section__contact .contact__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.section__experience {
  background: linear-gradient(90deg, hsl(0deg, 0%, 98%) 62%, hsl(0deg, 0%, 30%) 62%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section__experience .experience__title {
  position: absolute;
  top: 45vh;
}
@media (min-width: 992px) {
  .section__experience .experience__title {
    right: calc((100vw - 932px) / 2 - 5rem);
  }
}
@media (min-width: 1349px) {
  .section__experience .experience__title {
    right: calc((100vw - 1170px) / 2 - 5rem);
  }
}
.section__experience .experience__title--title {
  color: hsl(0deg, 0%, 100%);
  rotate: 90deg;
}
@media (min-width: 992px) {
  .section__experience .experience__title--title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1349px) {
  .section__experience .experience__title--title {
    font-size: 2rem;
  }
}
.section__experience .experience__title--title .title-decoration__left,
.section__experience .experience__title--title .title-decoration__right {
  background-color: hsl(0deg, 0%, 100%);
  display: initial;
  height: 3px;
  position: absolute;
}
.section__experience .experience__title--title .title-decoration__left {
  left: 100%;
  margin-left: 1rem;
}
@media (min-width: 992px) {
  .section__experience .experience__title--title .title-decoration__left {
    top: calc(50% - 1px);
    width: 250px;
  }
}
@media (min-width: 1349px) {
  .section__experience .experience__title--title .title-decoration__left {
    top: calc(50% - 1.5px);
    width: 412px;
  }
}
.section__experience .experience__title--title .title-decoration__right {
  margin-right: 1rem;
  right: 100%;
}
@media (min-width: 992px) {
  .section__experience .experience__title--title .title-decoration__right {
    top: calc(50% - 1px);
    width: 212px;
  }
}
@media (min-width: 1349px) {
  .section__experience .experience__title--title .title-decoration__right {
    top: calc(50% - 1.5px);
    width: 264px;
  }
}
.section__experience .experience__content {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section__experience .experience__content {
    width: 648px;
  }
}
@media (min-width: 992px) {
  .section__experience .experience__content {
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .section__experience .experience__content {
    width: 1170px;
  }
}

.section__projects {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 30%);
  position: relative;
}
.section__projects .projects__title {
  font-size: 2rem;
  position: absolute;
  top: 6rem;
}
@media (min-width: 992px) {
  .section__projects .projects__title {
    left: calc((100vw - 932px) / 2);
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__title {
    left: calc((100vw - 1170px) / 2);
  }
}
.section__projects .projects__title::after {
  content: "";
  border-radius: 8px;
  position: absolute;
  width: 25rem;
  height: 4px;
  background-color: hsl(0deg, 0%, 30%);
  left: -25.2rem;
  position: inherit;
  top: calc(50% - 2px);
}
.section__projects .projects__content {
  column-gap: 30px;
  display: grid;
  row-gap: 15px;
}
@media (min-width: 992px) {
  .section__projects .projects__content {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 30px);
    transform: translateY(-3rem);
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__content {
    grid-template-rows: repeat(12, 30px);
    width: 1170px;
  }
}
.section__projects .projects__content-banner {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section__projects .projects__content-banner .description__container {
  position: absolute;
}
@media (min-width: 992px) {
  .section__projects .projects__content-banner .description__container {
    top: 13rem;
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__content-banner .description__container {
    top: 25rem;
  }
}
.section__projects .projects__content-banner .description__container-title {
  margin-bottom: 0.4rem;
}
@media (min-width: 992px) {
  .section__projects .projects__content-banner .description__container-text {
    font-size: 0.8rem;
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__content-banner .description__container-text {
    font-size: unset;
  }
}
.section__projects .projects__content-banner .description__container-link {
  color: hsl(0deg, 0%, 30%);
  display: flex;
  margin: 1rem 0 1rem;
  text-decoration: none;
  transition: 200ms ease color;
}
.section__projects .projects__content-banner .description__container-link:hover {
  color: hsl(192deg, 100%, 40%);
}
.section__projects .projects__content-banner .description__container-link i {
  color: hsl(192deg, 100%, 40%);
  margin-left: 0.5rem;
}
.section__projects .projects__content-banner::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  width: 4rem;
  height: 5px;
  background-color: hsl(0deg, 0%, 30%);
  bottom: -1rem;
  left: calc(50% - 2rem);
  rotate: 90deg;
}
.section__projects .projects__content-banner::before {
  background-color: hsl(0deg, 0%, 30%);
  content: "";
  inset: 0;
  opacity: 0.4;
  position: absolute;
}
.section__projects .projects__content .financial {
  background-image: url("../../../assets/img/projects/financial-pexels-pixabay.jpg");
  grid-column: 1/5;
}
@media (min-width: 992px) {
  .section__projects .projects__content .financial {
    grid-row: 1/5;
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__content .financial {
    grid-row: 1/9;
  }
}
.section__projects .projects__content .pcaas {
  background-image: url("../../../assets/img/projects/pcass-cottonbro-studio.jpg");
  grid-column: 5/9;
}
@media (min-width: 992px) {
  .section__projects .projects__content .pcaas {
    background-position: 0 -10rem;
    grid-row: 2/6;
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__content .pcaas {
    background-position: unset;
    grid-row: 2/10;
  }
}
.section__projects .projects__content .sales {
  background-image: url("../../../assets/img/projects/repair-pexels-tima-miroshnichenko.jpg");
  background-position: 0;
  grid-column: 9/13;
}
@media (min-width: 992px) {
  .section__projects .projects__content .sales {
    grid-row: 3/7;
  }
}
@media (min-width: 1349px) {
  .section__projects .projects__content .sales {
    grid-row: 3/11;
  }
}

header {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  position: fixed;
  right: -9rem;
  z-index: 10;
}
@media (min-width: 768px) {
  header {
    right: -12rem;
  }
}

main .section__container .section__home, main .section__container .section__experience, main .section__container .section__projects {
  height: 100vh;
  width: 98.9vw;
}
main .section__container .section__about {
  height: 70vh;
  width: 98.9vw;
}
main .section__container .section__contact {
  height: 40vh;
  width: 98.9vw;
}

footer {
  background-color: hsl(192deg, 100%, 40%);
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
}
footer p {
  color: hsl(0deg, 0%, 98%);
}
footer p a {
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
}
footer p a:hover {
  color: hsl(238deg, 85%, 65%);
}

.experience__content--items {
  display: grid;
  padding: 0.5rem 0;
}
@media (min-width: 992px) {
  .experience__content--items {
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 0;
    width: 932px;
  }
}
@media (min-width: 1349px) {
  .experience__content--items {
    margin-bottom: 1rem;
    width: 1170px;
  }
}
.experience__content--items .description {
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: -5px 15px 15px -10px hsl(0deg, 0%, 75%);
  grid-column: 1/9;
  padding: 1rem;
  text-align: end;
}
@media (min-width: 992px) {
  .experience__content--items .description {
    padding-left: 0;
  }
}
@media (min-width: 1349px) {
  .experience__content--items .description {
    max-width: 50rem;
  }
}
.experience__content--items .description__title {
  color: hsl(0deg, 0%, 20%);
}
@media (min-width: 992px) {
  .experience__content--items .description__title {
    font-size: 1.1rem;
  }
}
.experience__content--items .description__period {
  color: hsl(0deg, 0%, 50%);
}
@media (min-width: 992px) {
  .experience__content--items .description__period {
    font-size: 0.7rem;
  }
}
@media (min-width: 1349px) {
  .experience__content--items .description__period {
    font-size: 0.85rem;
  }
}
.experience__content--items .description__skills ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.experience__content--items .description__skills ul li {
  margin: 0.5rem;
  transition: transform 200ms ease;
}
@media (min-width: 992px) {
  .experience__content--items .description__skills ul li i {
    font-size: 1.3rem;
  }
}
@media (min-width: 1349px) {
  .experience__content--items .description__skills ul li i {
    font-size: 1.5rem;
  }
}
.experience__content--items .description__skills ul li:hover {
  transform: scale(1.5);
}
@media (min-width: 992px) {
  .experience__content--items .description__resume {
    font-size: 0.8rem;
  }
}
@media (min-width: 1349px) {
  .experience__content--items .description__resume {
    font-size: 1em;
  }
}
.experience__content--items .card__container {
  align-items: center;
  display: grid;
  grid-column: 9/spam;
  grid-template-columns: 5rem 1fr;
  width: 100%;
}
.experience__content--items .card__container .card {
  background-color: hsl(0deg, 0%, 30%);
  justify-self: start;
  width: max-content;
}
.experience__content--items .card__container .card p {
  color: hsl(0deg, 0%, 98%);
}
@media (min-width: 992px) {
  .experience__content--items .card__container .card p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1349px) {
  .experience__content--items .card__container .card p {
    font-size: 1.5rem;
  }
}
.experience__content--items .card__container .bullet {
  aspect-ratio: 1;
  background-color: hsl(192deg, 100%, 50%);
  border-radius: 50%;
  border: 0.5rem solid hsl(0deg, 0%, 30%);
  width: 3rem;
}
@media (min-width: 992px) {
  .experience__content--items .card__container .bullet {
    transform: translateX(-1rem);
  }
}
.navbar__toggle {
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 10px 10px 0px hsl(0deg, 0%, 45%);
  left: -3rem;
  pointer-events: all;
  position: absolute;
  top: 2rem;
}
.navbar__toggle i {
  background-color: hsl(10deg, 85%, 45%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 100%);
  padding: 1.2rem;
  rotate: 180deg;
}
@media (min-width: 992px) {
  .navbar__toggle i {
    background-color: hsl(192deg, 100%, 40%);
  }
}
.navbar__toggle i::after {
  right: 50%;
  top: calc(50% - 4px);
}
.navbar__toggle i::before {
  right: calc(50% - 6px);
  top: calc(50% - 4px);
}
.navbar__container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: hsl(192deg, 100%, 60%);
  box-shadow: 0px 10px 10px 0px hsl(0deg, 0%, 45%);
  height: 100vh;
  pointer-events: all;
  width: 10rem;
}
@media (min-width: 768px) {
  .navbar__container {
    width: 12rem;
  }
}
@media (min-width: 992px) {
  .navbar__container {
    background-color: hsl(0deg, 0%, 98%);
  }
}
.navbar__items {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}
.navbar__items li {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1.25rem 0;
}
@media (min-width: 992px) {
  .navbar__items li:hover {
    background-color: hsl(192deg, 100%, 40%);
    width: 100%;
  }
  .navbar__items li:hover a {
    color: hsl(0deg, 0%, 98%);
  }
}
.navbar__items li a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
@media (min-width: 992px) {
  .navbar__items li a {
    color: hsl(0deg, 0%, 30%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 20%);
  font-size: 16px;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
