@use '../../globals' as *;

.section__about {
  align-items: center;
  display: flex;
  justify-content: center;
    
  @include breakpoint($wide) {
  background-position: calc((100vw - $wideContent) / 2) 0;
  }
  

  .about__content {
    display: grid;
    justify-content: center;
    position: relative;


    @include breakpoint($tablet) {
      width: $tabletContent;
    }
    @include breakpoint($laptop) {
      width: $laptopContent;
    }
    @include breakpoint($wide) {
      column-gap: 1rem;
      grid-template-columns: repeat(12, 70px);
      grid-template-rows: auto auto;
      width: $wideContent;
    }
    &-background {
      background-image: url('../../../assets/img/bg-negative-space.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      z-index: -1;

      @include breakpoint($wide){
        background-position: 1rem;
        padding: 12rem;
        top: -5rem;
        width: 100%;
      }
    }
    &-title {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
      
      @include breakpoint($wide) {
        font-size: 4rem;
        grid-column: 1/8;
        grid-row: 1/spam;
        height: 11rem;
        padding: 1rem 0 1rem 1rem;
      }
      
      h3 {
        @include breakpoint($wide) {
          color: $white;
        }    
      }
    }
    &-text {
      background-color: $white;
      grid-column: 8/spam;
      grid-row: 1/spam;
      
      p {
        margin: 0 .3rem;
        padding: .5rem; 
      }
    }
  }
}


