@use '../../globals' as *;

.section__contact {
  align-items: center;
  background-image: url('../../../assets/img/contact/contact-pexels-nikolaos-dimou.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  @include breakpoint($laptop) {
    background-position: 0 -12rem;
  }
  @include breakpoint($wide) {
    background-position: 0 -15rem;
  }

  .contact {
    &__content {
      display: flex;
      align-items: center;

      @include breakpoint($laptop) {
        width: $laptopContent;
      }
      @include breakpoint($wide) {
        width: $wideContent;
      }
    }
    &__title {
      color: $white;
      display: flex;
      flex-direction: column;
      position: relative;

      @include breakpoint($laptop) {
        margin-right: 5rem;
      }
      @include breakpoint($wide) {
      }

      &::before {
        @include pseudoLine(7rem, 2px);
        background-color: $white;
        bottom: 1rem;
        right: -70%;
        rotate: 90deg;
      }

      h3 {
        font-size: 2rem;
        font-weight: bold;
        text-align: end;
      }
      small {
        font-weight: bold;
        text-align: end;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-items: center;
      list-style: none;
      width: 100%;

      @include breakpoint($wide) {
        grid-column: 2/3;
        padding: 4rem 1rem;
      }

      li a {
        align-items: center;
        color: $white;
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        justify-content: flex-end;
        padding: 1rem 1rem 0 0;
        text-decoration: none;
      }

      li:last-of-type {
        .contact__icon {
          font-size: 1.2rem;
        }
      }
    }
    &__icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
}
