@use '../../globals' as *;

.section__experience {
  background: linear-gradient(90deg, $white 62%,$black300 62%);
  isolation: isolate;
  position: relative;

  // Needs work: Should be revalidate when it comes to mobile versions
  @include breakpoint($tablet) {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6,10%) repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr) ;
  }
  @include breakpoint($laptop) {
    gap: 15px;
    grid-template-columns: repeat(6,10%) repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr) ;
  }
  @include breakpoint($wide) {
    gap: 15px;
    grid-template-columns: repeat(6,10%) repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr) ;
  }
  
  .experience { 
    &__title {
      grid-column: 8/8;
      grid-row: 3/spam;
      
      &--title {
        @include breakpoint($wide) {
          color: $pureWhite; 
          font-size: 2rem;
          position: relative;
          rotate: 90deg;

          .title-decoration__left {
            background-color: $pureWhite;
            display: initial;
            height: 3px;
            left: 100%;
            margin-left: 1rem;
            position: absolute;
            top: calc(50% - 1.5px);
            width: 412px;
          }
          .title-decoration__right {
            background-color: $pureWhite;
            display: initial;
            height: 3px;
            margin-right: 1rem;
            position: absolute;
            right: 100%;
            top: calc(50% - 1.5px);
            width: 264px;
          }
        }
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      // Needs work
      @include breakpoint($tablet) {
      }

      @include breakpoint($laptop) {
      }
      
      @include breakpoint($wide) {
        grid-column: 2/9;
        grid-row: 2/ -2 ;
      }
    }
  }
}
