@use '../../globals' as *;

.experience__content--items {
  display: grid;
  padding: 0 0.625rem;
  margin-bottom: 1rem;

  @include breakpoint($tablet) {
    padding: unset;
  }

  @include breakpoint($laptop) {
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 0.5rem;
    width: $laptopContent;
  }

  @include breakpoint($commonScreen) {
    margin-bottom: 1rem;
    width: $commonContent;
  }

  .description {
    background-color: $white;
    box-shadow: $shadowSmall;
    grid-column: 1/9;
    padding: 1rem 0.625rem;
    
    @include breakpoint($laptop) {
      text-align: end;
      padding-left: 0;
    }

    @include breakpoint($commonScreen) {
      max-width: 50rem;
    }

    &__title {
      color: $black200;

      @include breakpoint($laptop) {
        font-size: 1.1rem;
      }
    }
    &__period {
      color: $black400;

      @include breakpoint($laptop) {
        display: none;
      }
    }

    &__skills {
      ul {
        display: flex;
        list-style: none;

        @include breakpoint($laptop) {
          justify-content: flex-end;
        }

        li {
          margin: 0.5rem;
          transition: transform 200ms ease;

          i {
            @include breakpoint($laptop) {
              font-size: 1.3rem;
            }

            @include breakpoint($commonScreen) {
              font-size: 1.5rem;
            }
          }

          &:hover {
            scale: $medium;
          }
        }
      }
    }
    &__resume {
      @include breakpoint($laptop) {
        font-size: 0.8rem;
      }

      @include breakpoint($commonScreen) {
        font-size: 1em;
      }
    }
  }

  .card__container {
    display: none;

    @include breakpoint($laptop) {
      align-items: center;
      display: grid;
      grid-column: 9 / spam;
      grid-template-columns: 5rem 1fr;
      width: 100%;
    }

    .card {
      background-color: $black300;
      justify-self: start;
      width: max-content;

      p {
        color: $white;

        @include breakpoint($laptop) {
          font-size: 1.3rem;
        }

        @include breakpoint($commonScreen) {
          font-size: 1.5rem;
        }
      }
    }

    .bullet {
      aspect-ratio: 1;
      background-color: $blue500;
      border-radius: 50%;
      border: 0.5rem solid $black300;
      width: 3rem;

      @include breakpoint($laptop) {
        transform: translateX(-1rem);
      }
      
      @include breakpoint($commonScreen) {
      }
    }
  }
}
