@use '../../globals' as *;

.wrapper {
  .projects__content-banner {
    aspect-ratio: 16/9;
    margin: 0 auto 1rem;
    width: 100%;
    
    @include breakpoint($tablet) {
      box-shadow: $shadowMedium;
      width: 32.25rem;
    }

    &.pcaas {
      @include breakpoint($tablet) {
        background-position: 0 -10rem;
      }
    }
  }
  .description__container {
    margin: 2rem auto;
    padding: 1.25rem;
    width: 100%;
    @include breakpoint($tablet) {
      width: $tabletContent;
    }

    a {
      color: $black300;
      display: flex;
      margin: 1rem 0 1rem;
    }
  }
}

.projects__content-banner {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include breakpoint($laptop) {
    &::after {
      @include pseudoLine(4rem, 5px);
      background-color: $black300;
      bottom: -1rem;
      left: calc(50% - 2rem);
      rotate: 90deg;
    }
  }

  &::before {
    background-color: $black300;
    content: '';
    inset: 0;
    opacity: 0.4;
    position: absolute;
  }
  .description__container {
    position: absolute;

    @include breakpoint($laptop) {
      top: 13rem;
    }
    @include breakpoint($wide) {
      top: 25rem;
    }

    &-title {
      margin-bottom: 0.4rem;
    }
    &-text {
      @include breakpoint($laptop) {
        font-size: 0.8rem;
      }
      @include breakpoint($wide) {
        font-size: unset;
      }
    }
    &-link {
      color: $black300;
      display: flex;
      margin: 1rem 0 1rem;
      text-decoration: none;
      transition: 200ms ease color;

      &:hover {
        color: $blue400;
      }

      i {
        color: $blue400;
        margin-left: 0.5rem;
      }
    }
  }
  &.financial {
    background-image: url('../../../assets/img/projects/financial-pexels-pixabay.jpg');
    
    @include breakpoint($laptop) {
      grid-column: 1/5;
      grid-row: 1/5;
    }
    @include breakpoint($wide) {
      grid-row: 1/9;
    }
  }
  &.pcaas {
    background-image: url('../../../assets/img/projects/pcass-cottonbro-studio.jpg');
    
    @include breakpoint($laptop) {
      background-position: 0 -10rem;
      grid-column: 5/9;
      grid-row: 2/6;
    }
    @include breakpoint($wide) {
      background-position: unset;
      grid-row: 2/10;
    }
  }
  &.sales {
    background-image: url('../../../assets/img/projects/repair-pexels-tima-miroshnichenko.jpg');
    background-position: 0;
    
    @include breakpoint($laptop) {
      grid-column: 9/13;
      grid-row: 3/7;
    }
    @include breakpoint($wide) {
      grid-row: 3/11;
    }
  }
}