@use '../../globals' as *;

.section__about {
  display: flex;
  justify-content: center;
  height: 100vh;

  @include breakpoint($tablet) {
    height: 70vh;
  }

  .about__content {
    position: relative;
    padding: 1.25rem;

    @include breakpoint($tablet) {
      width: $tabletContent;
      padding: unset;
    }

    @include breakpoint($laptop) {
      display: grid;
      align-items: center;
      column-gap: 30px;
      grid-template-columns: repeat(12, 1fr);
      overflow: hidden;
      width: $laptopContent;
    }

    @include breakpoint($commonScreen) {
      column-gap: 1rem;
      overflow: initial;
      width: $commonContent;
    }

    &-background {
      aspect-ratio: 16/9;
      background-image: url('../../../assets/img/about/bg-negative-space.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      z-index: -1;
      
      @include breakpoint($laptop) {
        aspect-ratio: unset;
        background-size: contain;
        left: -2rem;
        padding: 10rem;
        position: absolute;
        width: 100%;
      }

      @include breakpoint($commonScreen) {
        left: 0rem;
      }
    }

    &-title {
      font-size: 2rem;
      translate: 0 -3rem;

      @include breakpoint($laptop) {
        align-items: flex-start;
        display: flex;
        font-size: 3rem;
        grid-column: 1/6;
        grid-row: 1 / spam;
        height: 11rem;
        justify-content: flex-end;
        padding: 1rem 0 1rem 1rem;
      }

      @include breakpoint($commonScreen) {
        height: 11rem;
        padding: 1rem 0 1rem 1rem;
      }

      h3 {
        color: $white;
      }
    }
    &-text {
      @include breakpoint($laptop) {
        background-color: $white;
        grid-row: 1 / spam;
        grid-column: 6 / spam;
      }
    }
  }
}
