@use '../../globals' as *;

.section__about {
  align-items: center;
  display: flex;
  justify-content: center;

  .about__content {
    display: grid;
    justify-content: center;
    position: relative;

    @include breakpoint($tablet) {
      width: $tabletContent;
    }
    @include breakpoint($laptop) {
      column-gap: 30px;
      grid-template-columns: repeat(12, 1fr);
      overflow: hidden;
      width: $laptopContent;
    }
    @include breakpoint($wide) {
      column-gap: 1rem;
      overflow: initial;
      width: $wideContent;
    }

    &-background {
      background-image: url('../../../assets/img/about/bg-negative-space.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      z-index: -1;

      @include breakpoint($laptop){
        left: -2rem;
        padding: 10rem;
        top: -2rem;
        width: 100%;
      }
      @include breakpoint($wide){
        left: 0rem;
      }
    }
    &-title {
      align-items: flex-start;
      display: flex;
      grid-row: 1/spam;
      justify-content: flex-end;
      
      @include breakpoint($laptop) {
        font-size: 3rem;
        grid-column: 1/6;
        height: 11rem;
        padding: 1rem 0 1rem 1rem;
      }

      @include breakpoint($wide) {
        height: 11rem;
        padding: 1rem 0 1rem 1rem;
      }
      
      h3 {
        color: $white;  
      }
    }
    &-text {
      background-color: $white;
      grid-row: 1/spam;

      @include breakpoint($laptop) {
        grid-column: 6/spam;
      }
      
      p {
        margin: 0 .3rem;
        padding: .5rem; 
      }
    }
  }
}
