@use '../../globals' as *;

.section__contact {
  align-items: center;
  background-image: url('../../../assets/img/contact/contact-pexels-nikolaos-dimou.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  @include breakpoint($tablet) {
    padding: 4rem 0;
  }

  @include breakpoint($laptop) {
    background-position: 0 -12rem;
  }
  
  @include breakpoint($commonScreen) {
    background-position: 0 -15rem;
  }

  .contact {
    &__content {
      align-items: center;
      display: flex;
      padding: 0 1.25rem;
      width: 100%;

      @include breakpoint($tablet) {
        width: $tabletContent;
        padding: unset;
      }

      @include breakpoint($laptop) {
        width: $laptopContent;
      }

      @include breakpoint($commonScreen) {
        width: $commonContent;
      }
    }

    &__title {
      --margin: 2rem;

      color: $white;
      display: flex;
      flex-direction: column;
      position: relative;

      @include mobileOnly {
        display: none;
      }

      @include breakpoint($tablet) {
        margin-right: var(--margin);
      }

      @include breakpoint($laptop) {
        margin-right: calc(var(--margin) * 1.6);
      }
      
      @include breakpoint($commonScreen) {
        margin-right: calc(var(--margin) * 2);
      }
      
      &::before {
        @include pseudoLine(7rem, 2px);
        background-color: $white;
        bottom: -50%;
        rotate: 90deg;
        transform-origin: right;

        @include breakpoint($tablet) {
          margin-left: calc(var(--margin) / 2);
        }

        @include breakpoint($laptop) {
          margin-left: calc((var(--margin) * 1.6) / 2);
        }
  
        @include breakpoint($commonScreen) {
          margin-left: var(--margin);
        }
      }

      h3 {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: end;
      }

      small {
        font-weight: bold;
        text-align: end;
      }
    }

    &__links {
      height: 100%;
      list-style: none;

      @include breakpoint($commonScreen) {
        grid-column: 2/3;
        padding: 4rem 1rem;
      }

      li a {
        align-items: center;
        color: $white;
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        justify-content: flex-end;
        padding: 1rem 1rem 0 0;
        text-decoration: none;

        &[title='Github'] {
          i {
            @include tabletAndBelow {
              color: $blue500;
            }
          }
        }
      }

      li:last-of-type {
        .contact__icon {
          font-size: 1.2rem;
        }
      }
    }

    &__icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
}
