@use '../../globals' as *;

.section__experience {
  background: linear-gradient(90deg, $white 62%, $black300 62%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .experience {
    &__title {
      position: absolute;
      top: 45vh;

      @include breakpoint($laptop) {
        right: calc((100vw - $laptopContent) / 2 - 5rem);
      }
      @include breakpoint($wide) {
        right: calc((100vw - $wideContent) / 2 - 5rem);
      }

      &--title {
        color: $pureWhite;
        rotate: 90deg;

        @include breakpoint($laptop) {
          font-size: 1.5rem;
        }
        @include breakpoint($wide) {
          font-size: 2rem;
        }

        .title-decoration__left,
        .title-decoration__right {
          background-color: $pureWhite;
          display: initial;
          height: 3px;
          position: absolute;
        }
        .title-decoration__left {
          left: 100%;
          margin-left: 1rem;
          @include breakpoint($laptop) {
            top: calc(50% - 1px);
            width: 250px;
          }
          @include breakpoint($wide) {
            top: calc(50% - 1.5px);
            width: 412px;
          }
        }
        .title-decoration__right {
          margin-right: 1rem;
          right: 100%;
          @include breakpoint($laptop) {
            top: calc(50% - 1px);
            width: 212px;
          }
          @include breakpoint($wide) {
            top: calc(50% - 1.5px);
            width: 264px;
          }
        }
      }
    }
    &__content {
      margin: 0 auto;
      @include breakpoint($tablet) {
        width: $tabletContent;
      }

      @include breakpoint($laptop) {
        width: $laptopContent;
      }

      @include breakpoint($wide) {
        width: $wideContent;
      }
    }
  }
}
