@use '../../globals' as *;

.section__projects {
  background-color: $white;
  color: $black300;

  @include breakpoint($laptop) {
    min-height: 40rem;
  }

  .projects {
    &__title {
      font-size: 2rem;
      padding: 1.25rem;
      position: relative;

      @include breakpoint($tablet) {
        margin-left: auto;
        margin-right: auto;
        padding: unset;
        width: $tabletContent;
      }

      @include breakpoint($laptop) {
        width: $laptopContent;
      }

      @include breakpoint($commonScreen) {
        width: $commonContent;
      }
    }

    &__content {
      @include breakpoint($laptop) {
        column-gap: 30px;
        display: grid;
        row-gap: 15px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 30px);
        width: $laptopContent;
        margin: 0 auto;
      }
      @include breakpoint($commonScreen) {
        grid-template-rows: repeat(12, 30px);
        width: $commonContent;
      }
    }
  }
}
