
$black200: hsl(0, 0%, 20%);
$black300: hsl(0, 0%, 30%);
$black400: hsl(0, 0%, 40%);
$black400: hsl(0, 0%, 50%);
$black600: hsl(0, 0%, 60%);

$offWhite:  hsl(0, 0%, 90%);
$white:  hsl(0, 0%, 98%);
$pureWhite: hsl(0,0%,100%);

$blue300: hsl(192, 100%, 30%);
$blue400: hsl(192, 100%, 40%);
$blue500: hsl(192, 100%, 50%);
$blue600: hsl(192, 100%, 60%);

$darkblue400: hsl(238, 85%, 40%);
$darkblue500: hsl(238, 85%, 45%);
$darkblue600: hsl(238, 85%, 55%);
$darkblue700: hsl(238, 85%, 65%);

$orange400: hsl(10, 85%, 45%);
$orange500: hsl(10, 85%, 50%);
$orange600: hsl(10, 85%, 55%);
$orange700: hsl(10, 85%, 65%);
