/*
   Once it's using the variables context, pay atention 
  with the name of the variables to don't override or cause
  a conclflict.
*/
@use './variables' as *;

// Utilities
@mixin flex-box($justify, $align) {
  align-items: #{$align};
  display: flex;
  justify-content: #{$justify};
}

@mixin font-normal($font) {
  font-family: #{$font};
  font-weight: 400;
}
@mixin font-bold($font) {
  font-family: #{$font};
  font-weight: 700;
}

@mixin pseudoLine($width, $height) {
  content: '';
  border-radius: calc($height * 2);
  position: absolute;
  width: $width;
  height: $height;
}

@mixin spanLine($width, $height) {
  border-radius: calc($height * 2);
  position: absolute;
  width: $width;
  height: $height;
}

//Breakpoints
@mixin breakpoint($var) {
  @media (min-width: $var) {
    @content;
  }
}

@mixin mobileOnly {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tabletOnly {
  @media (max-width: $laptop) and (min-width: $mobile) {
    @content;
  }
}

@mixin tabletAndBelow {
  @media (max-width: $laptop) {
    @content;
  }
}