// Box Shadow
$shadowSmall: -5px 15px 15px -10px hsl(0,0%,75%);
$shadowMedium: 0px 10px 10px 0px hsl(0,0%,45%);
$shadowLarge: 0px 10px 15px 5px hsl(0,0%,45%);

// Breakpoint changes
$tabletContent: 648px;
$laptopContent: 932px;
$wideContent: 1170px;
$ultraWideContent: 1400px;

// Breakpoint values
$mobile: 420px;
$tablet: 768px;
$laptop: 992px;
$wide: 1349px;
$u-wide: 1700px;