@use '../../globals' as *;
main {
  .section__container {
    & > * {
      margin: 1.25rem 0;
    }
    section:first-of-type {
      margin-top: 0;
    }

    & section:last-child {
      margin-bottom: 0;
    }

    .section {
      &__home,
      &__experience,
      &__projects {
        @include breakpoint($laptop) {
          height: 100vh;
        }
      }
      &__about{
        @include breakpoint($laptop) {
          height: 70vh;
        }
      }
      &__contact {
        @include breakpoint($laptop) {
          height: 40vh;
        }
      }
    }
  }
}
