@use '../../globals' as *;

.experience__content--items {
  display: grid;
  margin-bottom: 1rem;
  padding: 0.5rem 0;

  @include breakpoint($laptop) {
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
  }
  @include breakpoint($wide) {
  }

  .description {
    box-shadow: $shadowSmall;
    grid-column: 1/9;
    padding: 1rem;
    text-align: end;

    @include breakpoint($wide) {
      max-width: 50rem;
    }

    &__title {
      color: $black200;
    }
    &__period {
      color: $black400;
      transform: scale(0.3);
    }
    &__skills {
      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li {
          margin: 0.5rem;
          transition: transform 200ms ease;
          i {
            @include breakpoint($laptop) {
              font-size: 1.3rem;
            }
            @include breakpoint($wide) {
              font-size: 1.5rem;
            }
          }
          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }
    &__resume {
      @include breakpoint($laptop) {
        font-size: 0.8rem;
      }
      @include breakpoint($wide) {
        font-size: 1em;
      }
    }
  }

  .card__container {
    align-items: center;
    display: grid;
    grid-column: 9 / spam;
    grid-template-columns: 5rem 1fr;
    width: 100%;

    .card {
      background-color: $black300;
      justify-self: start;
      width: max-content;
      @include breakpoint($wide) {
      }

      p {
        color: $white;
        @include breakpoint($laptop) {
          font-size: 1.3rem;
        }
        @include breakpoint($wide) {
          font-size: 1.5rem;
        }
      }
    }

    .bullet {
      aspect-ratio: 1;
      background-color: $blue500;
      border-radius: 50%;
      border: 0.5rem solid $black300;
      width: 3rem;

      @include breakpoint($laptop) {
        transform: translateX(-1rem);
      }
      @include breakpoint($wide) {
      }
    }
  }
}
